@use '../helpers' as *;

body {
	margin: $px-8;
}

.row {
	border: 1px dotted $dark-gray;
	padding: $px-4;
}

.columns {
	border: 1px dotted $primary-color;
	padding: $px-4;
}

.mce-content-body {
	a {
		&.button {
			&[data-mce-selected] {
				background-color: var(--wp--preset--color--primary, #1779ba);
				border: 1px solid transparent;
				color: $white;
				cursor: pointer;
				display: inline-block;
				font-family: inherit;
				font-size: rem-calc(14);
				line-height: 1;
				padding: rem-calc(12 14);
				text-decoration: none;
			}

			&.expanded {
				&[data-mce-selected] {
					margin-bottom: 0;
				}
			}
		}
	}
}
