@use '../helpers' as *;

// Placeholder for footer styles.
.site-footer {
	background-color: var(--wp--preset--color--light-gray, #e6e6e6);

	@include fluid-space(margin-top, 128);
	padding-bottom: $px-48;
	padding-top: $px-48;
}
