@use '../helpers' as *;

// Placeholder for footer styles.
.site-footer {
	background-color: var(--wp--preset--color--light-gray, #e6e6e6);
	margin-top: 128px;
	padding-bottom: 48px;
	padding-top: 48px;
}
