@use 'sass:color';
@use '../helpers' as *;

.pagination {
	ul {
		background-color: $accent-1;
		border-radius: 3px;
		font-size: 0;
		margin: $px-8 0;
		padding: $px-4;
		text-align: center;
	}

	li {
		display: inline-block;
		list-style-type: none;

		&:first-child {
			> * {
				margin-left: 0;
			}
		}
	}

	a,
	.current {
		background-color: $accent-blue;
		border-radius: 3px;
		color: $white;
		display: block;
		font-size: rem-calc(16);
		margin: 0 $px-4;
		padding: $px-4 $px-8;
	}

	a {
		transition: background-color 0.3s;

		&:hover,
		&:focus {
			background-color: color.adjust($accent-blue, $lightness: -10%);
			color: $white;
		}
	}

	.current {
		background-color: color.adjust($accent-1, $lightness: -10%);
		color: $black;
	}
}
