@use '../helpers' as *;

.post-navigation {
	@include clearfix;

	background-color: $light-gray;
	margin: $px-24 0;
	padding: $px-8 $px-24;

	.nav-previous {
		float: left;

		&::before {
			content: '\2190';
			margin-right: $px-4;
		}
	}

	.nav-next {
		float: right;

		&::after {
			content: '\2192';
			margin-left: $px-4;
		}
	}
}
