<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"single-post","layout":{"type":"constrained"}} -->
<main class="wp-block-group single-post">

	<!-- wp:group {"className":"single-post__grid"} -->
	<div class="wp-block-group single-post__grid">
		<!-- wp:post-terms {"term":"post_tag","separator":"","className":"single-post__eyebrow"} /-->

		<!-- wp:post-title {"level":1,"className":"single-post__title"} /-->

		<!-- wp:group {"className":"single-post__meta","layout":{"type":"flex","flexWrap":"nowrap","alignItems":"center"}} -->
		<div class="wp-block-group single-post__meta"><!-- wp:post-author-name {"isLink":true} /-->

			<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"className":"single-post__featured-image"} /-->

		<!-- wp:post-content {"className":"single-post__content"} /-->

		<!-- wp:separator {"opacity":"css","className":"single-post__divider"} -->
		<hr class="wp-block-separator has-css-opacity single-post__divider" />
		<!-- /wp:separator -->

		<!-- wp:group {"className":"single-post__social-wrap","layout":{"type":"default"}} -->
		<div class="wp-block-group single-post__social-wrap"><!-- wp:core-wp/social-share /--></div>
		<!-- /wp:group -->

		<!-- wp:group {"className":"single-post__related-wrap","layout":{"type":"default"}} -->
		<div class="wp-block-group single-post__related-wrap"><!-- wp:core-wp/related-posts /--></div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"site-footer","tagName":"footer"} /-->
